img {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.row-space {
    margin-bottom: 10px;
}

a {
    display: inline-block;
    border: #6d1065 2px solid;
    border-radius: 4px
}

.rating {
    background-color: rgb(0 0 0 / 0.3);
    position: absolute;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 4px;
}